<h1>Users</h1><hr />
<table class="table table-bordered">
  <thead><tr><th>#</th><th>Name</th><th>Email</th><th>Contact</th><th></th></tr></thead>
  {% for user in users %}
  <tr id = "#user_rowdata_{{user.id}}">
    <th scope="row">{{forloop.counter}}</th><td>{{user.fullname}}</td>
    <td>{{user.email}}</td>
    <td>      
	    {{user.contact}}
    </td>
    <td><a class='btn btn-sm btn-danger delete_user' href="#" data-userid="{{user.id}}"><span class="fas fa-minus"></span></a></td>
  </tr>
  {% endfor %}        
</table>
